.form_tile {  
    width: 100%;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 30px;
}

.custom_search {
    font-size: 1em;
    letter-spacing: .1em;

    height: var(--input-size);

    
    background-color: transparent;
    
    border-bottom: 1px solid #767676;
    
    outline: none !important;
    transition: all .2s ease-in;
}

.custom_search:hover {
    outline: none !important;
}

.custom_search:focus {
    outline: none !important;
}

.signUp {
    width: 100%;

    display: flex;
    align-items: start;

    justify-content: space-between;

    gap: 50px;
}

.user_tile {
    display: flex;
    flex-direction: column;
    align-items: start;

    row-gap: 17px;
}

.text_content {
    font-size: 1em;
}

.name_value {
    margin: 0;

    margin-top: 5px;

    font-size: 1.2em;
    text-wrap: nowrap;
}

@media screen and (max-width: 767.98px) {
    .form_tile {
        overflow: hidden;

        height: 28px;

        justify-content: center;
    }

    .form {
        height: 100%;
    }

    .custom_search {
        font-size: 0.8em;

        height: 27px;
    }

    .text_content {
      font-size: .7em;
    }

    .button {
        line-height: 1;
        font-size: .7em;

        text-wrap: nowrap;
    }
}