.header_container {
    margin-bottom: 60px;

    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, .96);
}

.user_form_block {
    margin-bottom: 30px;

    width: 100%;

    display: flex;

    gap: 50px;
}

.set_search_title {
    max-width: 100%;
    font-size: 2em;

    flex-grow: 1;
    order: 3;
}

.logo {
    width: 34px;
    height: 34px;
}

.user_wrapper_tile {
    width: 100%;

    display: flex;

    gap: 50px;
}

@media screen and (max-width: 1170.98px) {
    .user_wrapper_tile {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .user_form_block {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px 5px;
    }

    .set_search_title {
      flex-grow: 0;
    }
}

@media screen and (max-width: 599.98px) {
    .set_search_title {
        font-size: 1.7em;
    }
}