#root {
  max-width: 1640px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

::-webkit-scrollbar {
  width: 9px; 
}

::-webkit-scrollbar-track {
  background: #fff; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1 );
}